<footer class="text-white pt-5 pb-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h5 class="text-uppercase font-weight-bold">St. Sophie Ukrainian Orthodox Cathedral</h5>
                
                <p><i class="fas fa-home mr-3"></i>6255 Boul. Saint-Michel, Montréal, QC H1Y 2E8</p>
                <p><i class="fas fa-envelope-open-text mr-3"></i>Mail: 6250 12e Ave., Montréal, QC H1X 3A5</p>
                <a href="https://www.facebook.com/groups/1654403361512288/" target="_blank><i class="fa-brands fa-2xl fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UC4RMreY_7esqDOeK3pZAWPg" target="_blank><i class="fa-brands fa-2xl fa-youtube"></i></a>
            </div>
            <div class="col-lg-2">
                <h5>Our Parish</h5>
                <p class="text-white" style="text-decoration: none;"><a href="/history.html">History</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/historical-photos.html">Historical Photos</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/becoming_member.html">Becoming a Member</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/counsil.html">Parish Council</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/organizations.html">Church Organizations</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/sunday_school.html">Sunday School</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/activities.html">Photos of Activities</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/camp.html">Camp</a></p>
            </div>
            <div class="col-lg-3">
                <h5>Parish Priest</h5>
                <p>Very Rev. Archpriest <br>Volodymyr Kouchnir</p>
                <p class="text-white" style="text-decoration: none;"><a href="/autobiography.html">Autobiography</a></p>
                <p><i class="fas fa-phone mr-3"></i>Office: (514) 727-2236</p>
                <p><i class="fas fa-phone mr-3"></i>Cell: (514) 947-2235</p>
                <p><i class="fas fa-envelope mr-3"></i>kouchnir.volodymyr@gmail.com</p>
            </div>
            <div class="col-lg-2">
                <h5>Church Sacraments</h5>
                <p class="text-white" style="text-decoration: none;"><a href="/sacraments.html">Confession</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/sacraments.html">Communion</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/sacraments.html">Marriage</a></p>
                <p class="text-white" style="text-decoration: none;"><a href="/sacraments.html">Baptism</a></p>
            </div>
            <span class="text-muted">ST. SOPHIE UKRAINIAN ORTHODOX CATHEDRAL &copy; 2022</span>
        </div>
    </div>
</footer>
